/** CSS Specific to the sideQuiz widget **/
/* FireEye colors:
	- Blue: rgb(66, 152, 181), #C8102E
	- Black: rgb(29, 38, 45)
	- Red: rgb(175, 26, 58)
	- Light Grey: rgb(207, 211, 212)
	- Med Grey: rgb(190, 191, 193)
	- Dark Grey: rgb(97, 110, 126)
*/
.sideQuiz 
{
	position: fixed;
	background-color: rgb(207, 211, 212);
	box-shadow: 0px 0px 15px 0px black;
}

.sQ-r /*For sticking the thing to the right*/
{
	right: 0px;
	top: 40%;
	width: 10%;
	padding: 2em 0.5em 2em 1em;
	border-radius: 5px 0px 0px 5px;
}

.sQ-l /*For sticking the thing to the left*/
{
	left: 0px;
	top: 40%;
	width: 10%;
	padding: 2em 1em 2em 0.5em;
	border-radius: 0px 5px 5px 0px;
}

.sideQuiz a
{
	text-decoration: none;
}

.sideQuiz input
{
	float: left;
	margin: 0.15em 0.5em;
}

.sideQuiz .cover
{
	font-size: 1.5em;
	text-align: center;
}

.sideQuiz .content /* This will be revealed by Javascript when the cover is clicked */
{
	display: none; 
	font-weight: bold;
}

.sideQuiz .feedback /* This will be revealed by Javascript when an answer is submitted */
{
	display: none;
}

.sideQuiz #feedbackAckBtn
{
	display: none;
	float: right;
}