/* ------- global styles ---- */

/* Color guide
*
* highlight grey: rgb(206, 220, 231)
* visited grey: rgb(92, 99, 103)
* trim blue: rgb(139, 193, 235)
* standard text: rgb(61, 85, 103)
* inverse text: rgb(161, 171, 180)
* inverse visited: black;
*/

/*overwriting Pure's default font stack. May want to remove this later if it proves troublesome.*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] { font-family: Monaco, Consolas, “Lucida Console”, monospace, serif; }

html{ background-color: #596A72; }
body{
	margin: 0;
	padding: 2em;
		
	background: #cedce7; /* Old browsers */
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

h1, h2, h3{
	color: rgb(61, 85, 103);
}

#homeLink{ /*At some point this should be incorporated above the nav and float with it, I think.*/
	text-decoration: none;
	font-size: inherit;
}
#homeLink h1{ display: inline; }

@media (min-width: 768px){

	nav{
		position: fixed;
		top: 7em;
		left: 0%;
		width: 15em;
		padding: 1em;
		background-color: rgba(56, 59, 62, 0.75);
		border-width: 1px 1px 1px 0;
		border-style: solid;
		border-color: rgb(92, 99, 103);
		border-radius: 0px 15px 15px 0px;
		z-index: 100;
	}

	nav ul{	
		margin: 0.25em;
		padding: 0;
		list-style-type: none;
	}
	nav ul li{
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: rgb(206, 220, 231);
		padding: 0.5em 0;
	}	

	main{
		width: 70%;
		padding-left: 16em; /*To make sure that the main content never collides with the nav bar*/
		margin: 0 auto;
	}
}
@media (max-width: 767px){

	nav{
		display: block;
		width: 100%;
		padding: 0em;
		background-color: rgba(56, 59, 62, 0.75);
		border-width: 1px 1px 1px 0;
		border-style: solid;
		border-color: rgb(92, 99, 103);
		border-radius: 15px;
		z-index: 100;
	}
	nav ul{	
		margin: 0.25em;
		padding: 0;
		list-style-type: none;
	}
	nav ul li{
		display: inline-block;
		border-right: 1px solid rgb(206, 220, 231);
		padding: 0.5em;
	}
	nav ul li:last-child{
		border-right: 0px solid rgb(206, 220, 231);
		padding: 0.5em;
	}
	nav ul li p{ display: none; }

	main{
		width: 100%;
		padding-left: 0em;
		margin: 0 auto;
	}
}
a{
	font-size: 1.25em;
}
a:link{
	color: rgb(206, 220, 231);
}
a:link:hover, a:focus{
	color: rgb(139, 193, 235);
}
a:visited{
	color: black;
}
a:visited:hover, a:visited:focus{
	color: rgb(139, 193, 235);
}
nav ul li p{
	margin: 0.5em 0 0em 0.5em;
	color: rgb(206, 220, 231);
	font-style: italic;
}
nav ul li i{
	margin-right: 1em;
	color: rgb(206, 220, 231);
}

section p{
	font-family: sans-serif;
}

.imgContainer{
	position: relative;
	max-width: 625px;
	margin: 0 auto;
	background-color: rgb(92, 99, 103);
}
.imgContainer img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

a.clickPanel{
	text-decoration: none;
	font-size: inherit;
	color: inherit;
}
a.clickPanel div{	
	-webkit-transition: background-color 400ms;
	transition: background-color 400ms;
}
a.clickPanel abbr{ text-decoration: underline; }
a.clickPanel div:hover, a.clickPanel:focus div{ background-color: rgba(139, 193, 235, 0.3); }
a.clickPanel div:hover p, a.clickPanel:focus div p{ color: black; }

footer{
	text-align: center;
	margin: 5em auto 0.5em;
	color: rgb(206, 220, 231);
	font-size: 0.8em;
	font-style: italic;
}

/*------- Generic effects ---------*/
.hoverShadow{ box-shadow: 3px 5px 20px 0px black; }
.insetShadow{ box-shadow: inset 0px 0px 20px 0px black; margin: 1em;}
.insetShadow-highlight{ box-shadow: inset 0px 0px 20px 0px rgb(206, 220, 231); }
.rounded{ border-radius: 15px; }
.padded{ padding: 1.3em; }
.h-padded{ padding: 0 1.3em; }
.v-padded{ padding: 1.3em 0; }
.minHeight30{ min-height: 30rem; }

/*------- Animated effects ---------*/

.anim-driftV-offset{
	-webkit-animation: driftVFrames 5000ms ease-in 500ms infinite;
}

.anim-driftV{
	-webkit-animation: driftVFrames 5000ms ease-in 0 infinite;
}

@-webkit-keyframes driftVFrames
{
	25%{ -webkit-transform: translateY(-4px); }
	75%{ -webkit-transform: translateY(8px); }
	100%{ -webkit-transform: translateY(0px); }
}