.particleShape
{
	position: absolute;
	left: 452px;
	top: 450px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgba(255, 236, 125, 0.5);
	box-shadow: 0 0 5px 5px rbga(128, 128, 128, 0.5);
	
	-webkit-animation: wisp1 800ms ease-out 0s infinite, 
						wispRise 800ms ease-out 0s infinite;
}

.particleShape1
{
	position: absolute;
	left: 450px;
	top: 450px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background-color: rgba(255, 236, 125, 0.5);
	box-shadow: 0 0 5px 5px rbga(128, 128, 128, 0.5);
	
	-webkit-animation: wisp1 800ms ease-out 100ms infinite,
						wispRise 800ms ease-out 100ms infinite;	
}

.particleShape2
{
	position: absolute;
	left: 448px;
	top: 449px;
	width: 11px;
	height: 11px;
	border-radius: 10px;
	background-color: rgba(255, 236, 125, 0.5);
	box-shadow: 0 0 5px 5px rbga(128, 128, 128, 0.5);
	
	-webkit-animation: wisp1 800ms ease-out 200ms infinite,
						wispRise 800ms ease-out 200ms infinite;	
}

.particleShape3
{
	position: absolute;
	left: 448px;
	top: 449px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: rgba(255, 236, 125, 0.5);
	box-shadow: 0 0 5px 5px rbga(128, 128, 128, 0.5);
	
	-webkit-animation: wisp1 800ms ease-out 300ms infinite,
						wispRise 800ms ease-out 300ms infinite;	
}

.particleShape4
{
	position: absolute;
	left: 448px;
	top: 449px;
	width: 11px;
	height: 11px;
	border-radius: 10px;
	background-color: rgba(255, 236, 125, 0.5);
	box-shadow: 0 0 5px 5px rbga(128, 128, 128, 0.5);
	
	-webkit-animation: wisp1 800ms ease-out 400ms infinite,
						wispRise 800ms ease-out 400ms infinite;	
}
.particleShape5
{
	position: absolute;
	left: 448px;
	top: 449px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background-color: rgba(255, 236, 125, 0.5);
	box-shadow: 0 0 5px 5px rbga(128, 128, 128, 0.5);
	
	-webkit-animation: wisp1 800ms ease-out 500ms infinite,
						wispRise 800ms ease-out 500ms infinite;	
}
@-webkit-keyframes wisp1
{
	50% { background-color: rgba(186, 32, 32, 0.5);}
	90% { background-color: rgba(10, 10, 10, 0.5);}
	100% { background-color: rgba(0, 0, 0, 0);}
}

@-webkit-keyframes wispRise
{
	to{ -webkit-transform: translateY(-100px); }
}

@-webkit-keyframes wispShrink
{
	to{ -webkit-transform: scale( 0.5, 0.5); }
}