/** CSS for the POIPops widget **/
/* Make sure you specify specific positions for each dot by setting top/left or bottom/right on ID'd POIDot instances! */

.POIPop
{
	position: absolute;
	padding: 0.25em 0.7em;
	border-radius: 1em;
	background-color: rgb(200, 16, 46);
}

.POIPop:link
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.POIPop:link:hover, .POIPop:focus
{
	color: rgb(29, 37, 45);
}

.POIPop:visited
{
	color: rgb(200, 16, 46);
	font-weight: bold;
	text-decoration: none;
	background-color: rgb(29, 37, 45);
}
.POIPop:visited:hover, .POIPop:visited:focus
{
	color: white;
}

/* Inherits the parent's position */
.POIPop p
{
	display: none; /*is faded-in via mouse-click on an associated POIDot with jQuery*/
	position: absolute;
	padding: 0 1em;
	color: white;
	font-size: 1em;
	font-weight: normal;
	background-color: rgb(66, 152, 181);
	z-index: 2; /* Note that because it's a descendant of .POIPop, it will always be under other POIDots.*/
}

/* Add to a POIDot instance to make it have a bigger circle */
.biggerDot
{
	font-size: 2em;
	padding: 0.5em 0.6em;
	border-radius: 2em;
}
.biggerDot .POIContent{	font-size: 0.5em; }

.biggestDot
{
	font-size: 3em;
	padding: 1em 1em;
	border-radius: 3em;
}
.biggestDot .POIContent{	font-size: 0.3em; }